.company{
	font-family: 'staccato';
	color: #EB1818;
}

.item-page{
	border-radius: 100% !important;
}

#subsidiary_id{
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/bottom-arrow.png);
    background-repeat: no-repeat;
    background-position: right 20px top 23px;
}

.toggle-switch .ts-label {
	min-width: 130px;
	color: gray !important;
}

.bgm-lightgray{
	background-color: rgba(240,240,240,.5) !important;
}

.image-preview{
	width: 150px !important;
	height: 150px !important;
}

.breadcrumb{
	padding-left: 0px !important;
}

.fileinput-filename{
	color: #999 !important;
	width: 130px !important;
}

.categories-div{
	height: 316px !important;
}

.items-div{
	height: 296px !important;
}

.sweet-alert{
	box-shadow: 0px 0px 1px #929292 !important;
}

.search.form-group{
	margin-bottom: 0px !important;
	float: inherit !important;
}

.title-custom{
	margin-top: -5px !important;
	font-family: 'staccato';
	font-size: 16pt !important;
	text-shadow: 1px 1px 1px black;
}

.text-danger{
	color: #EB1818 !important;
}

.bg-danger{
	background-color: #EB1818 !important;
}

.btn-submit{
	border:1px solid #fff;
	color:#fff;
	background-color: #EB1818;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	padding:13px 50px;
	margin-top:35px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	letter-spacing:0;
	position:relative;
	box-shadow:none;
	z-index:1;
}
.btn-submit:before,
.btn-submit:after {
	position:absolute;
	content:"";
	height:100%;
	width:0;
	border-radius:4px;
	z-index:-1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn-submit:before {
	left:0;
	top:0;
	border-top:2px solid #C60C0C;
}
.btn-submit:after {
	right:0;
	bottom:0;
	border-bottom:2px solid #C60C0C;
}
.btn-submit:hover:before {
	left:0;
	width:100%;
	background-color: #EB1818;
	opacity: .7;
}
.btn-submit:hover:after {
	width:100%;
	right:0;
	background-color: #EB1818;
	opacity: .7;
}
.btn-submit:hover,
.btn-submit:focus {
	color:#fff;
	background-color:transparent;
	box-shadow: 0px 0px 0px 1px #C60C0C;
	border-color:#C60C0C;
}

.btn-submin:active{
	background-color: #EB1818 !important;
	border-color: #EB1818 !important;
}

.btn-main{
	border:1px solid #EB1818;
	color:#fff;
	background-color: transparent;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	padding:13px 50px;
	margin-top:35px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	letter-spacing:0;
	position:relative;
	box-shadow:none;
	z-index:1;
}
.btn-main:before,
.btn-main:after {
	position:absolute;
	content:"";
	height:100%;
	width:0;
	border-radius:4px;
	z-index:-1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn-main:before {
	left:0;
	top:0;
	border-top:2px solid #C60C0C;
}
.btn-main:after {
	right:0;
	bottom:0;
	border-bottom:2px solid #C60C0C;
}
.btn-main:hover:before {
	left:0;
	width:100%;
	background-color: #EB1818;
	opacity: .7;
}
.btn-main:hover:after {
	width:100%;
	right:0;
	background-color: #EB1818;
	opacity: .7;
}
.btn-main:hover,
.btn-main:focus {
	color:#fff;
	background-color:transparent;
	box-shadow: 0px 0px 0px 1px #C60C0C;
	border-color:#C60C0C;
}

.name-logo{
	position: absolute;
	font-family: 'staccato';
	font-size: 10rem;
	width: 40%;
	left: 30%;
	top: 5%;
	text-shadow: 2px 2px 4px black;

	-webkit-text-fill-color: #EB1818;
	-webkit-text-stroke: 4px #FFF;
}
























.bg-danger-transparent{
	background-color: rgba(235,24,24,.8) !important;
}



@font-face {
  font-family: 'staccato';
  src: url('../fonts/staccato.ttf') format('truetype');
}

